.btn {
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 0 none !important;
}
 
.btn-record {
	background-color: #8e44ad !important;
	color: #ffffff;
}
 
.btn-record:hover, .btn-record:focus, .btn-record:active, .btn-record.active, .open > .dropdown-toggle.btn-record {
	background-color: #9b59b6 !important;
}

.controls{
	width:100%;
	margin-bottom: 2em !important;
}

.bigControls{
	width:100%;
}

textarea{
	width:100% !important;
	height:60vh !important;
	font-family: monospace !important;
}
body{
	text-align: center;
}
div.friendTab{
	border: solid black 1px;
	border-radius: 1em;
	padding: 1em;
}
pre{
	text-align: left;
}

#tabs div{
	margin: 3em 0 !important;
}

#help{
	overflow:hidden;
	height: auto;
	max-height: 0;
	transition: max-height 0.75s ease-in-out;
}

#help.display{
	max-height: 18em;/*arbitrary*/
}

@-moz-keyframes expand{
	from{
		height:0;
	}

	to{
		height:14em;
	}
}

@-webkit-keyframes expand{
	from{
		height:0;
	}

	to{
		height:14em;
	}
}

@keyframes expand{
	from{
		height:0;
	}

	to{
		height:14em;
	}	
}

@-moz-keyframes contract{
	from{
		height:14em;
	}

	to{
		height:0;
	}
}

@-webkit-keyframes contract{
	from{
		height:14em;
	}

	to{
		height:0;
	}
}

@keyframes contract{
	from{
		height:14em;
	}

	to{
		height:0;
	}	
}
